<app-header></app-header>
<section>
  <aside>
    <img src="assets/images/auth-aside.png" />
  </aside>
  <div id="content">
    <h2>Sign Up</h2>
    <div id="taglines">
      <p>The Food Plaza</p>
      <p>Breakfast | Lunch | Dinner</p>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
      <div id="form-controls">
        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
      <button type="submit" class="primary-button" id="submit-button">
        Create Account
      </button>
    </form>
    <button
      type="submit"
      class="primary-button"
      id="google-button"
      (click)="authService.signInWithGoogle()"
    >
      Sign up with Google
    </button>
    <button
      type="button"
      class="tertiary-button"
      id="already-have-account-button"
      routerLink="/sign-in"
    >
      Already have account? Sign in
    </button>
  </div>
</section>
