<section>
    <form>
        <mat-slide-toggle>Editable</mat-slide-toggle>
        <mat-slide-toggle>Editable</mat-slide-toggle>
        <mat-slide-toggle>Editable</mat-slide-toggle>
        <mat-form-field appearance="outline">
            <mat-label>Reciept Hotel Name</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept Hotel Phone</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept Hotel Address</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept Hotel Name</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept Hotel Name</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept GST No</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept GST No</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reciept GST No</mat-label>
            <input type="text" mat-input>
        </mat-form-field>
    </form>
</section>