@keyframes popIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
main{
    background: white;
    padding:30px;
    width: 40vw;
    border-radius: 20px;
    overflow-y: auto;
    max-height: calc(90vh - 60px);
    div.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            color:var(--primary-color);
            font-size: 30px;
            font-weight: 600;
        }
        .quickOptions{
            display: flex;
            column-gap: 20px;
            span{
                column-gap: 10px;
                display: flex;
                color:var(--primary-color);
                font-size: 22px;
                align-items: center;
                mat-icon{
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                    animation: popIn 0.2s ease-out;
                }
            }
        }

    }
    hr{
        margin: 30px 0px;
        border: 1px solid var(--primary-color);
    }
    form{
        width: 100%;
        column-gap: 30px;
        // min-height:300px;
        .basicDetails{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 20px;
            grid-auto-columns: 1fr;
            .dropZone{
                display: block;
                text-align: center;
                color:rgb(177, 177, 177);
                width: 100%;
                border: 2px dashed #2d3436 !important;
                .group{
                    position: relative;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                }
            }
            .mainData{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                mat-form-field{
                    width: 300px;
                }
                .inlineRow{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    column-gap: 20px;
                    align-items: center;
                }
                .ingredients{
                    border:2px rgb(130, 130, 130) solid;
                    height: 100%;
                    border-radius: 7px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .skeleton{
                        text-align: center;
                        color:lightgray;
                        font-size: 20px;
                    }
                    mat-icon{
                        font-size: 60px !important;
                        height: 60px;
                        width: 60px;
                        animation: popIn 0.2s ease-out;
                    }
                }
            }
        }
        .options{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .optionsContainer{
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                mat-radio-group{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    column-gap: 20px;
                    padding-bottom: 10px;
                    border-bottom: 2px rgb(232, 232, 232) solid;
                    .selectors{
                        // width: 100%;
                        display: flex;
                        column-gap: 20px;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        max-width: 500px;
                    }
                    p{
                        // width: 100%;
                        font-size: 18px;
                        font-weight: 600;
                        color:rgb(130, 130, 130);
                    }
                }
            }
        }
    }
    .actions{
        display: flex;
        justify-content: flex-end;
    }
}