<div class="card">
    <img
      src="../../../assets/order1.png"
      class="order_img"
      alt="dish_name"
    />
    <div class="order_details">
      <h5>
        KOT ID :
        <p>{{kotId}}</p>
      </h5>
      <h5>
        Order Type :
        <p>{{orderType}}</p>
      </h5>
      <h5>
        Customer Name :
        <p>{{customerName}}</p>
      </h5>
      <h5>
        Customer Phone :
        <p>{{customerPhone}}</p>
      </h5>
      <h5>
        No. Of Item :
        <p>{{item}}</p>
      </h5>
      <h5>
        Status :
        <p>{{status}}</p>
      </h5>
      <h5>
        Bill Print Date :
        <p>{{billPrintDate}}</p>
      </h5>
      <h5>
        Estimated Time :
        <p>{{estimatedTime}}</p>
      </h5>
      <h5>
        Order Receive:
        <p>{{orderRecieve}}</p>
      </h5>
    </div>
    <p class="order_name">{{dishName}}</p>
</div>
