<header>
  <div id="container">
    <img src="assets/images/viraj-logo.png" alt="Logo" />
    <div id="heading">
      <h1 data-intro='Hello step one!'>Viraj</h1>
      <p>Systems</p>
    </div>
  </div>
  <div class="container2">
    <div class="categories">
      <b>{{path}}</b> <br>
      <p>Tuesday 22 Feb 2022</p>
    </div>
    <div class="search_box">
      <div class="uk-margin">
        <form class="uk-search uk-search-default">
            <span class="uk-search-icon-flip" uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="Search Payments..">
        </form>
    </div>
    </div>
    <div class="profile">
      <i class="fa-solid fa-bell"></i>
      <div class="avatar">
        <img src="https://i.pravatar.cc/300" alt="Avatar" />
      </div>
      <p>John Doelorem</p>
      <i class="fa-solid fa-sort-down"></i>
    </div>
    
  </div>



</header>
