<header>
  <div id="container">
    <img src="assets/images/viraj-logo.png" alt="Logo" />
    <div id="heading">
      <h1 data-intro='Hello step one!'>Viraj</h1>
      <p>Systems</p>
    </div>
  </div>
  <div class="content">
    <div class="page">
      <h3>{{dataProvider.currentProject ? dataProvider.currentProject?.projectName + '-' : ''}} {{(dataProvider.pageSetting.title || title) | titlecase}}</h3>
      <p>{{date | date:'fullDate'}}</p>
    </div>
    <div class="searchAndProfile">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <mat-icon matSuffix color="primary">search</mat-icon>
      </mat-form-field>
      <!-- <button mat-icon-button color="primary"><mat-icon>notifications</mat-icon></button> -->
      <div class="profile">
        <img [src]="dataProvider.userData?.photoURL" referrerpolicy="no-referrer" alt="">
        <div class="details">
          <p>{{dataProvider.userData?.name}}</p>
          <p>{{dataProvider.currentProject?.projectName}}</p>
        </div>
        <mat-icon [matMenuTriggerFor]="settingsMenu">arrow_drop_down</mat-icon>
        <mat-menu #settingsMenu>
          <!-- <menu mat-menu-item (click)="openProfile()">Profile</menu> -->
          <menu mat-menu-item (click)="authService.logout()">Logout</menu>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
