header {
  padding: .75em 1.25em;
  box-shadow: var(--normal-shadow);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  #container {
    display: flex;
    align-items: center;

    img {
        height: 50px;
    }

    #heading {
      text-transform: uppercase;

      h1 {
        color: var(--primary-color);
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: var(--large);
        letter-spacing: 0.15em;
        line-height: 1em;
        margin: 0;
      }

      p {
        color: var(--secondary-color);
        font-family: var(--primary-font);
        letter-spacing: 0.05em;
        font-size: var(--small);
        margin: 0;
      }
    }
  }
}
