.container {
  display: flex;
  align-items: flex-start;
  margin-top: .75em;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.75em;
  }

  h4 {
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    margin: 0;
  }

  p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin: 0;
  }
}
