<mat-tab-group>
    <mat-tab label="Dine-In" class="big">
        <div class="container">
            <div class="buttons">
                <div class="select">
                    <select>
                        <option>Quick Actions</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Mark As Vlog</option>
                    </select>
                </div>
                <div class="select">
                    <select>
                        <option>Pricing</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Mark As Vlog</option>
                    </select>
                </div>
                <button class="secondary-button left-icon-button">
                    <mat-icon>add</mat-icon>Add dish
                </button>
                <button class="secondary-button left-icon-button">
                    <mat-icon>edit</mat-icon>Edit Menu
                </button>
            </div>
            <div class="box">
                <div>
                    <mat-tab-group class="small">
                        <mat-tab label="Hot dishes">
                            <div class="order-cards">
                                <app-menu-dish-card *ngFor="let dish of dishes" [imageSource]="dish.image" [servesLeft]="dish.servesLeft" [dishName]="dish.name" [dishPrice]="dish.price"></app-menu-dish-card>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cold Dishes"> Content 2 </mat-tab>
                        <mat-tab label="Soup"> Content 3 </mat-tab>
                        <mat-tab label="Grill"> Content 3 </mat-tab>
                        <mat-tab label="Appetizer"> Content 3 </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Swiggy">
        <div class="container">
            <div class="buttons">
                <div class="select">
                    <select>
                        <option>Quick Actions</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Mark As Vlog</option>
                    </select>
                </div>
                <div class="select">
                    <select>
                        <option>Pricing</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Mark As Vlog</option>
                    </select>
                </div>
                <button class="secondary-button left-icon-button">
                    <mat-icon>add</mat-icon>Add dish
                </button>
                <button class="secondary-button left-icon-button">
                    <mat-icon>edit</mat-icon>Edit Menu
                </button>
            </div>
            <div class="box">
                <div>
                    <mat-tab-group class="small">
                        <mat-tab label="Hot dishes">
                            <div class="order-cards">
                                <app-menu-dish-card *ngFor="let dish of dishes" [imageSource]="dish.image" [servesLeft]="dish.servesLeft" [dishName]="dish.name" [dishPrice]="dish.price"></app-menu-dish-card>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cold Dishes"> Content 2 </mat-tab>
                        <mat-tab label="Soup"> Content 3 </mat-tab>
                        <mat-tab label="Grill"> Content 3 </mat-tab>
                        <mat-tab label="Appetizer"> Content 3 </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Zomato">
        <div class="container">
            <div class="buttons">
                <div class="select">
                    <select>
                        <option>Quick Actions</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Mark As Vlog</option>
                    </select>
                </div>
                <div class="select">
                    <select>
                        <option>Pricing</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Mark As Vlog</option>
                    </select>
                </div>
                <button class="secondary-button left-icon-button">
                    <mat-icon>add</mat-icon>Add dish
                </button>
                <button class="secondary-button left-icon-button">
                    <mat-icon>edit</mat-icon>Edit Menu
                </button>
            </div>
            <div class="box">
                <div>
                    <mat-tab-group class="small">
                        <mat-tab label="Hot dishes">
                            <div class="order-cards">
                                <app-menu-dish-card *ngFor="let dish of dishes" [imageSource]="dish.image" [servesLeft]="dish.servesLeft" [dishName]="dish.name" [dishPrice]="dish.price"></app-menu-dish-card>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cold Dishes"> Content 2 </mat-tab>
                        <mat-tab label="Soup"> Content 3 </mat-tab>
                        <mat-tab label="Grill"> Content 3 </mat-tab>
                        <mat-tab label="Appetizer"> Content 3 </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>