<app-header></app-header>
<div id="wrapper">
  <aside>
    <ul>
      <li *ngFor="let link of links">
        <button *ngIf="!(link.subLinks?.length > 0)" [routerLink]="link.link" routerLinkActive="active">
          <mat-icon aria-hidden>{{link.icon}}</mat-icon>{{link.title}}
          <mat-icon *ngIf="link.subLinks?.length > 0 && !link.toggled">chevron_right</mat-icon>
          <mat-icon *ngIf="link.subLinks?.length > 0 && link.toggled">expand_more</mat-icon>
        </button>
        <button *ngIf="link.subLinks?.length > 0" (click)="link.toggled=!link.toggled" routerLinkActive="active">
          <mat-icon aria-hidden>{{link.icon}}</mat-icon>{{link.title}}
          <mat-icon *ngIf="link.subLinks?.length > 0 && !link.toggled">chevron_right</mat-icon>
          <mat-icon *ngIf="link.subLinks?.length > 0 && link.toggled">expand_more</mat-icon>
        </button>
        <ng-container *ngIf="link.toggled">
          <ol class="sublink">
            <li *ngFor="let subLink of link.subLinks">
              <mat-icon>chevron_right</mat-icon>
              <button [routerLink]="subLink.link" routerLinkActive="active">
                <mat-icon aria-hidden>{{subLink.icon}}</mat-icon>{{subLink.title}}
              </button>
            </li>
          </ol>
        </ng-container>
      </li>
    </ul>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
