<div class="actions">
    <button mat-flat-button color="primary">
        <mat-icon color="accent">restart_alt</mat-icon>
        <span class="primary-contrast">&nbsp;&nbsp;Refresh</span>
    </button>
    <button mat-flat-button color="primary" (click)="compareOpeningClosingBalance()">
        <mat-icon color="accent">compare_arrows</mat-icon>
        <span class="primary-contrast">&nbsp;&nbsp;Set Opening/Closing Balance</span>
    </button>
    <button mat-flat-button color="primary" (click)="updateStockItems=!updateStockItems">
        <mat-icon color="accent">sync</mat-icon>
        <span class="primary-contrast">&nbsp;&nbsp;Update Stock</span>
    </button>
    <button mat-flat-button color="primary">
        <mat-icon color="accent">remove</mat-icon>
        <span class="primary-contrast">&nbsp;&nbsp;Remove Items</span>
    </button>
    <button mat-flat-button color="primary" (click)="addNewItem()">
        <mat-icon color="accent">add</mat-icon>
        <span class="primary-contrast">&nbsp;&nbsp;Add Item</span>
    </button>
    <button mat-flat-button color="primary">
        <mat-icon color="accent">analytics</mat-icon>
        <span class="primary-contrast">&nbsp;&nbsp;Analytics</span>
    </button>
</div>
<mat-tab-group mat-align-tabs="start" (selectedTabChange)="setTab($event)">
    <mat-tab label="Raw Material">
        <div class="body">
            <table [cellSpacing]="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Rate/Unit</th>
                        <th>Total Rate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of rawMaterials;let i = index" (click)="changeOcurred()">
                        <td>
                            <div class="row">
                                <i class="fa-solid fa-circle-check" *ngIf="item.checked"
                                    (click)="item.checked=false"></i>
                                <i class="fa-regular fa-circle" *ngIf="!item.checked" (click)="item.checked=true"></i>
                                <p>{{i+1}}</p>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <img [src]="item.images[0]">
                                <p>{{item.name}}</p>
                            </div>
                        </td>
                        <td>
                            <p>{{item.unit}}</p>
                        </td>
                        <td>
                            <div class="row">
                                <span>{{item.quantity}}</span>
                                <div [class]="item.quantity < 20 ? (item.quantity < 5 ? 'error' : 'warning') : ''">
                                    <ng-container *ngIf="item.quantity < 5">
                                        <span>DANGER</span> Very low stock
                                    </ng-container>
                                    <ng-container *ngIf="item.quantity < 20 && item.quantity >= 5">
                                        <span>WARNING</span> Low stock.
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>{{item.ratePerUnit}}</p>
                        </td>
                        <td>
                            <p>{{item.ratePerUnit * item.quantity}}</p>
                        </td>
                        <td class="align-center">
                            <ng-container *ngIf="!updateStockItems">
                                <button mat-icon-button class="edit" (click)="editRecipe(item)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="copy">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-icon-button class="insights">
                                    <mat-icon>insights</mat-icon>
                                </button>
                                <button mat-icon-button class="delete">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="updateStockItems">
                                <button mat-icon-button color="primary" (click)="addQuantity(i,'rawMaterials')"><mat-icon>add</mat-icon></button>
                                <input class="quantityInput" type="text" [(ngModel)]="item.quantity">
                                <button mat-icon-button color="primary" (click)="removeQuantity(i,'rawMaterials')"><mat-icon>remove</mat-icon></button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event" aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Non Consumables">
        <div class="body">
            <table [cellSpacing]="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Rate/Unit</th>
                        <th>Total Rate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of consumables;let i = index" (click)="changeOcurred()">
                        <td>
                            <div class="row">
                                <i class="fa-solid fa-circle-check" *ngIf="item.checked"
                                    (click)="item.checked=false"></i>
                                <i class="fa-regular fa-circle" *ngIf="!item.checked" (click)="item.checked=true"></i>
                                <p>{{i+1}}</p>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <img [src]="item.images[0]">
                                <p>{{item.name}}</p>
                            </div>
                        </td>
                        <td>
                            <p>{{item.unit}}</p>
                        </td>
                        <td>
                            <div class="row">
                                <span>{{item.quantity}}</span>
                                <div [class]="item.quantity < 20 ? (item.quantity < 5 ? 'error' : 'warning') : ''">
                                    <ng-container *ngIf="item.quantity < 5">
                                        <span>DANGER</span> Very low stock
                                    </ng-container>
                                    <ng-container *ngIf="item.quantity < 20 && item.quantity >= 5">
                                        <span>WARNING</span> Low stock.
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>{{item.ratePerUnit}}</p>
                        </td>
                        <td>
                            <p>{{item.ratePerUnit * item.quantity}}</p>
                        </td>
                        <td class="align-center">
                            <ng-container *ngIf="!updateStockItems">
                                <button mat-icon-button class="edit" (click)="editRecipe(item)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="copy">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-icon-button class="insights">
                                    <mat-icon>insights</mat-icon>
                                </button>
                                <button mat-icon-button class="delete">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="updateStockItems">
                                <button mat-icon-button color="primary" (click)="addQuantity(i,'rawMaterials')"><mat-icon>add</mat-icon></button>
                                <input class="quantityInput" type="text" [(ngModel)]="item.quantity">
                                <button mat-icon-button color="primary" (click)="removeQuantity(i,'rawMaterials')"><mat-icon>remove</mat-icon></button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event" aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-tab>
</mat-tab-group>