<div class="mainCard">
  <img [src]="imageSource" [alt]="dishName" />
  <div class="dish-details" (mouseenter)="deleteHovered=true" (mouseleave)="deleteHovered=false" [@deleteHover]="deleteHovered ? 'hover' : 'default'">
    <p class="rate">₹{{dishPrice}}</p>
    <h4>{{dishName}}</h4>
    <p class="availability"><b
        [ngStyle]="{'color': servesLeft < 5 ? 'tomato' : 'rgb(81, 187, 122)' }">{{servesLeft}}</b> serves available</p>
    <button (click)="deleted.emit()">
      <mat-icon>delete</mat-icon><b class="deleteText" *ngIf="deleteHovered">Delete</b>
    </button>
  </div>
</div>