.mainCard{
  margin-top: 50px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  background: white;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 230px;
  height:257px;
  img{
    position: relative;
    width:100px;
    height:100px;
    transform: translateY(-50%);
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(255, 63, 63, 0.18);
    transition: 0.4s all ease;
    &:hover{
      scale: 1.1;
    }
  }
  .dish-details{
    margin: 20px;
    margin-top: -40px;
    text-align: center;
    p,h4{
      margin:10px;
    }
    h4{
      font-size: 17px;
      font-weight: 500;
      color:grey;
    }
    .rate{
      color:tomato;
      font-size: 20px;
    }
    .availability{
      color:rgb(29, 29, 29);
    }
    button{
      background-color: transparent;
      border:none;
      color:var(--primary-color);
      padding:20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
    }
    .actions{
      display: flex;
      
    }
    margin-bottom: 5px;
  }
}