<div class="top-buttons">
  <div class="end-buttons">
    <button class="secondary-button" [matMenuTriggerFor]="menuMenu">
      {{ menuOptions }}<mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menuMenu="matMenu">
      <button mat-menu-item (click)="menuOptions = 'Dine in'">Dine in</button>
      <button mat-menu-item (click)="menuOptions = 'Zomato'">Zomato</button>
      <button mat-menu-item (click)="menuOptions = 'Swiggy'">Swiggy</button>
    </mat-menu>
    <button class="secondary-button left-icon-button">
      <mat-icon>add</mat-icon>Add dish
    </button>
    <button class="secondary-button left-icon-button">
      <mat-icon>edit</mat-icon>Edit menu
    </button>
    <button class="primary-button">Items in Cart</button>
  </div>
</div>
<mat-tab-group>
  <mat-tab *ngFor="let category of categories" [label]="category">
    <div class="order-cards">
      <app-menu-dish-card></app-menu-dish-card>
    </div>
  </mat-tab>
</mat-tab-group>
