<mat-tab-group>
  <mat-tab label="Menus">
    <div class="categoryContainer">
      <app-menu-feature-widget *ngFor="let feature of features" [feature_Name]="feature.feature_Name" [button_Name]="feature.button_Name" [src]="feature.src" [link]="feature.link"></app-menu-feature-widget>
    </div>
  </mat-tab>
  <mat-tab label="Categories">
    <div class="categories">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Discount List</th>
            <th>Status</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let i = index">
            <td>{{category.name}}</td>
            <td>{{category.displayName}}</td>
            <td>{{category.discountList}}</td>
            <td class="status {{category.status}}">{{category.status}}</td>
            <td>{{category.created | date}}</td>
            <td>{{category.modified}}</td>
            <td><mat-icon (click)="editCategory(i)">edit</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Table/Area">

  </mat-tab>
  <mat-tab label="Taxes">

  </mat-tab>
  <mat-tab label="Discounts">
    
  </mat-tab>
</mat-tab-group>