<div class="top-buttons">
  <div class="end-buttons">
    <div class="filter-buttons">
      <button mat-flat-button color="primary" (click)="seeGuests()">
        <mat-icon>king_bed</mat-icon> Room Guests
      </button>
      <button mat-flat-button color="primary" (click)="addTable()">
        <mat-icon>king_bed</mat-icon> Add Room
      </button>
      <button mat-flat-button color="primary">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="openRoomSettings()">
        Room Settings
      </button>
      <div class="dropdown-container" id="calendar-dropdown">
        <button mat-flat-button color="primary" (click)="showCalendar = true">
          {{ selectedDate | date }}
        </button>
        <div class="dropdown" *ngIf="showCalendar">
          <mat-calendar [(selected)]="selectedDate" (selectedChange)="showCalendar = false"></mat-calendar>
        </div>
      </div>
      <div class="dropdown-container" id="slots-dropdown">
        <button mat-flat-button color="primary" id="time-slot-button" (click)="showSlots = true">
          {{ selectedSlot }}
        </button>
        <div class="dropdown" *ngIf="showSlots">
          <mat-form-field appearance="fill">
            <mat-label>Time Slot</mat-label>
            <input type="text" matInput [matAutocomplete]="slots" />
          </mat-form-field>
          <mat-autocomplete #slots="matAutocomplete">
            <mat-option *ngFor="let slot of timeSlots" [value]="slot" (click)="selectedSlot = slot">
              {{ slot }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-cards">
  <app-room-card (editRoom)="editRoom(table)" [number]="table.tableNo" (book)="bookRoom(table)" [id]="table.id" [name]="table.name"
    [available]="!(table.roomBooked ? true  : false)" (seeBooking)="seeBooking(table)" *ngFor="let table of rooms"></app-room-card>
</div>