.top-buttons {
    button {
      align-items: center;
    }
  
    .filter-buttons {
      display: flex;
      gap: 0.1em;
    }
  }
  
  .table-cards {
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
  }
  