section{
    position: fixed;
    top: 0px;
    right:0px;
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 9999999;
    box-shadow: -4px 0px 10px rgba(0,0,0,0.1);
    .togggler{
        position: relative;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: white;
        border:none;
        border-radius: 20px;
        mat-icon{
            color: var(--primary-color);
        }
    }
}