.container {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    padding: 20px;
    // margin: 15px;
    border-radius: 15px;
    border: 2px solid white;
    transition: .5s;
    &:hover{
        border: 2px solid var(--primary-color);
    }

    .box {
        margin-left: 15px;
        font-family: var(--primary-font);
    }

    p {
        font-weight: 500;
        font-size: 18px;
    }

    button {
        margin-top: 10px;
    }
}