<mat-tab-group>
  <mat-tab *ngFor="let category of categories" [label]="category">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbacks[category]">
            <td>{{ feedback.title }}</td>
            <td>{{ feedback.customerName }}</td>
            <td>{{ feedback.details }}</td>
            <td>
              <div class="actions">
                <button class="primary-button">
                  <mat-icon>delete</mat-icon>
                </button>
                <button class="primary-button">
                  <mat-icon>forum</mat-icon>
                </button>
                <button class="primary-button">
                  <mat-icon>settings</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
