<section id="customers">
    <button id="add_customer">Add New Customer</button>
  <div class="customer_details">
    <div class="left">
      <span class="left_head">New users per month <br /> <p> 12,221 </p></span>
      <canvas id="myChart" ></canvas>
    </div>
    <!-- <canvas id="bookings-graph"></canvas> -->
    <div class="right">
      <div class="box">
        <div class="image">
          <img src="../../../assets/icon1.svg" alt="" />
        </div>
        <span>
          <b>22</b>
          <br />
          Total User
        </span>
      </div>
      <div class="box">
        <div class="image">
          <img src="../../../assets/icon1.svg" alt="" />
        </div>
        <span>
          <b>1222</b>
          <br />
          New User
        </span>
      </div>
      <div class="box">
        <div class="image">
          <img src="../../../assets/icon1.svg" alt="" />
        </div>
        <span>
          <b>1222</b>
          <br />
          Active User
        </span>
      </div>
      <div class="box">
        <div class="image">
          <img src="../../../assets/icon1.svg" alt="" />
        </div>
        <span>
          <b>1222</b>
          <br />
          New User
        </span>
      </div>
    </div>
  </div>
  <div class="customer_table">
    <table>
        <tr class="header">
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th >Favorite</th>
          <th style="width: 20%; ">Loyalty Points</th>
          <th>Birth date</th>
          <th style="width: 15%; ">Action</th>
        </tr>
        <tr class="person">
            <td>Arun Arora</td>
            <td>arunarora1025@gmail.com</td>
            <td>+9988956115</td>
            <td>Salted Pasta with mushroom sauce</td>
            <td ><div class="points">12</div> </td>
            <td>18/02/1996</td>
            <td>
                <button><i class="fa-solid fa-percent"></i></button>
                <button><i class="fa-solid fa-shop"></i></button>
            </td>
          </tr>
          <tr class="person">
            <td>Arun Arora</td>
            <td>arunarora1025@gmail.com</td>
            <td>+9988956115</td>
            <td>Salted Pasta with mushroom sauce</td>
            <td ><div class="points">12</div> </td>
            <td>18/02/1996</td>
            <td>
                <button><i class="fa-solid fa-percent"></i></button>
                <button><i class="fa-solid fa-shop"></i></button>
            </td>
          </tr>
          <tr class="person">
            <td>Arun Arora</td>
            <td>arunarora1025@gmail.com</td>
            <td>+9988956115</td>
            <td>Salted Pasta with mushroom sauce</td>
            <td ><div class="points">12</div> </td>
            <td>18/02/1996</td>
            <td>
                <button><i class="fa-solid fa-percent"></i></button>
                <button><i class="fa-solid fa-shop"></i></button>
            </td>
          </tr>
      </table>
  </div>
</section>
