<section id="orders">
  <div class="orders_header">
    <b>Choose category</b>
    <div class="filters">
      <select name="category" id="category" class="form-control">
        <option value="all">All</option>
        <option value="delivered">Delivered</option>
        <option value="pending">Pending</option>
      </select>
   

      
    
      <div class="filterBox">
        <p>Start</p>
        <input type="date" />
      </div>
      <div class="filterBox">
        <p>End</p>
        <input type="date" />
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Dine In">
      <div class="cards">
        <div class="card">
          <img
            src="../../../assets/order1.png"
            class="order_img"
            alt="dish_name"
          />
          <div class="order_details">
            <h5>
              KOT ID :
              <p>79</p>
            </h5>
            <h5>
              Order Type :
              <p>Dine In</p>
            </h5>
            <h5>
              Customer Name :
              <p>Rajesh</p>
            </h5>
            <h5>
              Customer Phone :
              <p>72211233339</p>
            </h5>
            <h5>
              No. Of Item :
              <p>3</p>
            </h5>
            <h5>
              Status :
              <p>Used In Bill</p>
            </h5>
            <h5>
              Bill Print Date :
              <p>11/22/2022</p>
            </h5>
            <h5>
              Estimated Time :
              <p>45 Mis</p>
            </h5>
            <h5>
              Order Receive:
              <p>20:22</p>
            </h5>
            <h5>
              KOT ID :
              <p>79</p>
            </h5>
          </div>
          <p class="order_name">Salted Pasta With Mushroom Sauce</p>
        </div>
        <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
      </div>
    </mat-tab>
    <mat-tab label="Zomato ">
        <div class="cards">
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
        </div>
      </mat-tab>
      <mat-tab label="Swigy">
        <div class="cards">
          <div class="card">
            <img
              src="../../../assets/order1.png"
              class="order_img"
              alt="dish_name"
            />
            <div class="order_details">
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
              <h5>
                Order Type :
                <p>Dine In</p>
              </h5>
              <h5>
                Customer Name :
                <p>Rajesh</p>
              </h5>
              <h5>
                Customer Phone :
                <p>72211233339</p>
              </h5>
              <h5>
                No. Of Item :
                <p>3</p>
              </h5>
              <h5>
                Status :
                <p>Used In Bill</p>
              </h5>
              <h5>
                Bill Print Date :
                <p>11/22/2022</p>
              </h5>
              <h5>
                Estimated Time :
                <p>45 Mis</p>
              </h5>
              <h5>
                Order Receive:
                <p>20:22</p>
              </h5>
              <h5>
                KOT ID :
                <p>79</p>
              </h5>
            </div>
            <p class="order_name">Salted Pasta With Mushroom Sauce</p>
          </div>
          <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
            <div class="card">
              <img
                src="../../../assets/order1.png"
                class="order_img"
                alt="dish_name"
              />
              <div class="order_details">
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
                <h5>
                  Order Type :
                  <p>Dine In</p>
                </h5>
                <h5>
                  Customer Name :
                  <p>Rajesh</p>
                </h5>
                <h5>
                  Customer Phone :
                  <p>72211233339</p>
                </h5>
                <h5>
                  No. Of Item :
                  <p>3</p>
                </h5>
                <h5>
                  Status :
                  <p>Used In Bill</p>
                </h5>
                <h5>
                  Bill Print Date :
                  <p>11/22/2022</p>
                </h5>
                <h5>
                  Estimated Time :
                  <p>45 Mis</p>
                </h5>
                <h5>
                  Order Receive:
                  <p>20:22</p>
                </h5>
                <h5>
                  KOT ID :
                  <p>79</p>
                </h5>
              </div>
              <p class="order_name">Salted Pasta With Mushroom Sauce</p>
            </div>
        </div>
      </mat-tab>
  </mat-tab-group>
</section>
