.container{
    .upper-box{
        .tabs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-family: var(--primary-font);
                font-size: 20px;
                font-weight: 400;
            }

        }
    }
}
.select{
    display: flex;
    justify-content: space-between;
    background:transparent;
    padding: 3px;
    color: var(--primary-color);
    select{
        border: none;
        background-color: #fff;
        color: var(--primary-color);
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 15px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
        transition: .4s;
        margin-right: 10px;
        &:hover{
            transform: scale(1.1);
        }
    }
    button{
        margin-left: 10px;
    }
}
.cards {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
  }