<div class="container">
  <div class="upper-box">
    <div class="tabs">
      <p>Choose Category</p>
      <div class="select">
        <div class="select">
          <select>
            <option>All Orders</option>
            <option>Pending</option>
            <option>Delivered</option>
            <option>In Progress</option>
          </select>
          <button class="secondary-button left-icon-button">
            <mat-icon>event</mat-icon>Start Date
          </button>
          <button class="secondary-button left-icon-button">
            <mat-icon>event</mat-icon>End Date
          </button>
        </div>
      </div>
    </div>
    <mat-tab-group class="tab-group">
      <mat-tab label="Dine-In">
        <div class="cards">
          <app-kot-details-card *ngFor="let item of items" [time]="item.time" [timeLeft]="item.timeLeft"
            [extra]="item.extra" [topping]="item.topping" [peopleOdered]="item.peopleOdered" [dishName]="item.dishName"
            [id]="item.id" [waiterName]="item.waiterName" [tableNo]="item.tableNo"></app-kot-details-card>
        </div>
      </mat-tab>
      <mat-tab label="QR Menu">
        <div class="cards">
          <app-kot-details-card *ngFor="let item of items" [time]="item.time" [timeLeft]="item.timeLeft"
            [extra]="item.extra" [topping]="item.topping" [peopleOdered]="item.peopleOdered" [dishName]="item.dishName"
            [id]="item.id" [waiterName]="item.waiterName" [tableNo]="item.tableNo"></app-kot-details-card>
        </div>
      </mat-tab>
      <mat-tab label="Delivery">
        <div class="cards">
          <app-kot-details-card *ngFor="let item of items" [time]="item.time" [timeLeft]="item.timeLeft"
            [extra]="item.extra" [topping]="item.topping" [peopleOdered]="item.peopleOdered" [dishName]="item.dishName"
            [id]="item.id" [delivery]="true" [waiterName]="item.waiterName" [tableNo]="''"></app-kot-details-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>