<app-header></app-header>
<div id="wrapper">
  <aside>
    <ul>
      <li>
        <button routerLink="/pos/categories" routerLinkActive="active">
          <mat-icon aria-hidden>Categories</mat-icon>Dashboard
        </button>
      </li>
      <li>
        <button routerLink="/pos/Categories" routerLinkActive="active">
          <mat-icon aria-hidden>Categories</mat-icon>Inventory
        </button>
      </li>
      <li>
        <button routerLink="/pos/south_combo" routerLinkActive="active">
          <mat-icon aria-hidden>South Combo</mat-icon>Tables
        </button>
      </li>
      <li>
        <button routerLink="/pos/Appetizers" routerLinkActive="active">
          <mat-icon aria-hidden>Appetizers</mat-icon>Menu
        </button>
     
    </ul>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
