<div class="container">
    <div class="upper-box">
        <div class="flex">
            <mat-icon>how_to_reg</mat-icon>
            <div class="info">
                <p *ngIf="tableNo">Table {{tableNo}}</p>
                <p>Guest 4</p>
            </div>
        </div>
        <div class="flex-second">
            <p>{{time}}</p>
            <p>{{delivery ? 'Delivery boy:' : 'Waiter:'}} {{waiterName}}</p>
        </div>
    </div>
    <div class="middle-section">
        <p class="type">Appetizer</p>

        <div class="widget">
            <div class="box">
                <div class="details">
                    <p>1. {{dishName}}</p>
                    <p>ADD: {{topping}}</p>
                    <p>{{extra}}</p>
                </div>
                <div class="people">
                    <p><mat-icon>supervisor_account</mat-icon>{{peopleOdered}}</p>
                </div>
                <div class="image">
                    <img src="assets/images/dish.png" alt="">
                </div>
            </div>
            <div class="box">
                <div class="details">
                    <p>1. {{dishName}}</p>
                    <p>ADD: {{topping}}</p>
                    <p>{{extra}}</p>
                </div>
                <div class="people">
                    <p><mat-icon>supervisor_account</mat-icon>{{peopleOdered}}</p>
                </div>
                <div class="image">
                    <img src="assets/images/dish.png" alt="">
                </div>
            </div>
            <hr>
            <div class="box">
                <div class="details">
                    <p>1. {{dishName}}</p>
                    <p>ADD: {{topping}}</p>
                    <p>{{extra}}</p>
                </div>
                <div class="people">
                    <p><mat-icon>supervisor_account</mat-icon>{{peopleOdered}}</p>
                </div>
                <div class="image">
                    <img src="assets/images/dish.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="lower-section">
        <p>{{id}}</p>
        <p class="orange"><mat-icon>query_builder</mat-icon>  {{timeLeft}}</p>
    </div>
</div>
