@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500&display=swap");

@include mat.core();

$fbms-palette: (
  50: #fcebe9,
  100: #f6c4bc,
  200: #ef9d8f,
  300: #ea7c69,
  400: #e34f36,
  500: #c9361c,
  600: #9d2a16,
  700: #701e10,
  800: #431209,
  900: #160603,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$FBMS-primary: mat.define-palette($fbms-palette, 300);
$FBMS-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$FBMS-warn: mat.define-palette($fbms-palette, 600);

$FBMS-theme: mat.define-light-theme(
  (
    color: (
      primary: $FBMS-primary,
      accent: $FBMS-accent,
      warn: $FBMS-warn,
    ),
  )
);

@include mat.all-component-themes($FBMS-theme);

:root {
  --primary-color: #ea7c69;
  --primary-contrast-color: #faf9ff;
  --secondary-color: #505050;
  --tertiary-color: #000;
  --quaternary-color: #ffd9da;
  --quinary-color: #6c757d;
  --success-color: #37a666;
  --success-light-color: #88e0913d;
  --danger-color: #ff7ca3;

  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --xlarge: 26px;
  --large: 22px;
  --medium: 18px;
  --small: 16px;
  --xsmall: 14px;

  --normal-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-button,
.secondary-button,
.tertiary-button {
  font-family: var(--primary-font);
  font-size: var(--medium);
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.08);
  }

  &.left-icon-button {
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 0.2em;
    }
  }

  &.right-icon-button {
    mat-icon {
      margin-left: 0.2em;
    }
  }
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
  padding: 0.5em;
}

.secondary-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.tertiary-button {
  color: var(--primary-color);
}

.top-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;

  .start-buttons,
  .end-buttons {
    width: fit-content;
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;

    .primary-button,
    .secondary-button {
      padding: 0.25em 0.4em;
    }
  }
}

.dropdown-container {
  position: relative;
  display: flex;

  .dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    padding: 0.25em;
    border-radius: 7px;
    box-shadow: var(--normal-shadow);
  }
}

.table-container {
  overflow-x: auto;

  table {
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    font-size: var(--small);
    border-collapse: collapse;
    width: 100%;
    text-align: center;

    th,
    td {
      padding: 0.5em;
    }

    thead {
      border-bottom: 1px solid var(--tertiary-color);

      tr {
        th {
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }

    tbody {
      tr {
        td {
          &.image-cell {
            display: flex;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
              object-fit: cover;
              margin-right: 0.5em;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
.introjs-tooltip {
  .introjs-tooltip-header {
  }
  .introjs-tooltiptext {
  }
  .introjs-bullets {
  }
  .introjs-arrow .top {
  }
  .introjs-button {
    border: none;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    color: white;
    text-shadow: none;
  }
}
